{% extends "base.html" %}

{% block title %}
Магазин
{% endblock %}

{% block content %}
    <h1>Магазин</h1>
    <div class = "player-stats">
        <p>Золото: {{player.money}}</p>
        <p>Здоровье: {{player.hit_points}}</p>
        <p>Оружие: {{player.weapon.name}}</p>
        <p>Уровень: {{player.level}}</p>
    </div>

    {% if message %}
        <div class="aler alert-{{message_type}}"> {{message}}</div>
    {% endif %}

    <div class ="shop-section">
        <h2> Товары в продаже</h2>
        <div class = "items-grid">
            {% for item in items %}
                <div class = "item">
                    <div class="item-name">{{item.name}}</div>
                    <div class="item-price">{{item.price}}</div>
                    <form method="POST">
                        <input type = "hidden" name="item_id" value="{{item.id}}">
                        <button type = "submit" name="command" value="buy">
                            Купить и использовать
                        </button>
                        {% if item.item_type == 'potion'%}
                        <button type = "submit" name="command" value="buyToInventory">
                            Купить и сохранить
                        </button>
                        {% endif %}
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
